[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
	update = rebase
	ignore = dirty
[submodule "webkit"]
	path = WebKit
	url = https://github.com/WebKit/webkit
	update = rebase
	ignore = dirty
	shallow = true
[submodule "fuzzilli"]
	path = fuzzilli
	url = https://github.com/googleprojectzero/fuzzilli
	update = rebase
	ignore = dirty
