[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
	branch = stable
	update = checkout
	fetchRecurseSubmodules = true
	ignore = dirty
	shallow = true
[submodule "webkit"]
	path = WebKit
	url = https://github.com/WebKit/webkit
	update = checkout
	ignore = dirty
	shallow = true
[submodule "fuzzilli"]
	path = fuzzilli
	url = https://github.com/googleprojectzero/fuzzilli
	update = checkout
	ignore = dirty
	shallow = true
