# IntelliJ IDEA
.idea
# AFL in & out
/afl_input
/afl_results
# Fuzzilli results
/fuzzilli_results
# Target scripts
/target_scripts
# JSC symlink
/jsc
# Failed patches
*.orig
*.rej
# Address of start forkserver function
/.afl_entrypoint
# AFL input sizes for all test scripts
/.afl_input_sizes.json
# Core dumps
*.core
# C make
/__cmake_systeminformation/
# Final results
/results/
