# IntelliJ IDEA
.idea
# AFL output
/out
# JSC symlink
/jsc_fuzzilli
/jsc_afl
# Failed patches
*.orig
*.rej
# Address of start forkserver function
/.afl_entrypoint
# AFL input sizes for all test scripts
/.afl_input_sizes.json
# Core dumps
*.core
