[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
	branch = dev
	update = rebase
	ignore = dirty
[submodule "webkit"]
	path = WebKit
	url = https://github.com/WebKit/webkit
	update = rebase
	ignore = dirty
	shallow = true
